<html lang="ja">
    <head>
    </head>
    <body>
        {{investigator.furigana}}
        <h1>
            {{investigator.name}}
        </h1>

        <div style="display: flex;">
            {% if investigator.img != None %}
                <img src="{{investigator.img}}" style="width: 30%; height: 30%;">
            {% endif %}
            
            <div>
                <table style="font-size: 30px;">
                    <tr>
                        <th scope="row" style="width: 65px;">STR</th>
                        <th scope="row" style="width: 65px;">CON</th>
                        <th scope="row" style="width: 65px;">POW</th>
                        <th scope="row" style="width: 65px;">DEX</th>
                        <th scope="row" style="width: 65px;">APP</th>
                        <th scope="row" style="width: 65px;">SIZ</th>
                        <th scope="row" style="width: 65px;">INT</th>
                        <th scope="row" style="width: 65px;">EDU</th>
                    </tr>
                    <tr>
                        <th>{{investigator.STR_sum}}</th>
                        <th>{{investigator.CON_sum}}</th>
                        <th>{{investigator.POW_sum}}</th>
                        <th>{{investigator.DEX_sum}}</th>
                        <th>{{investigator.APP_sum}}</th>
                        <th>{{investigator.SIZ_sum}}</th>
                        <th>{{investigator.INT_sum}}</th>
                        <th>{{investigator.EDU_sum}}</th>
                    </tr>
                </table>
                <table style="font-size: 20px;">
                    <tr>
                        <th scope="row" style="width: 150px;">
                            正気度
                            {{investigator.san_now}}
                            /
                            {{ 99 
                                -skills.knowledge_skills[3].points.initial_points 
                                -skills.knowledge_skills[3].points.job_points 
                                -skills.knowledge_skills[3].points.interest_points 
                                -skills.knowledge_skills[3].points.growth_points 
                                -skills.knowledge_skills[3].points.others_points 
                            }}
                        </th>
                        <th scope="row">
                            HP {{ investigator.hp_sum }}
                        </th>
                        <th scope="row">
                            MP {{ investigator.mp_sum }}
                        </th>
                        <th scope="row">
                            DB {{ investigator.damage_bonus }}
                        </th>
                        <th scope="row">
                            アイデア {{ investigator.ide }}
                        </th>
                        <th scope="row">
                            幸運 {{ investigator.lack }}
                        </th>
                        <th scope="row">
                            知識 {{ investigator.knowledge }}
                        </th>
                    </tr>
                </table>
                <div style="display: flex;">
                    <table>
                        <tr>
                            <th scope="col">技能名</th>
                            <th scope="col">合計</th>
                        </tr>
                        {% for skill in skills.battle_skills %}
                        {% if skill.points.job_points != 0 or skill.points.interest_points != 0 or skill.points.growth_points != 0 or skill.points.others_points != 0 %}
                        <tr>
                            <th scope="row">
                                {{skill.name}}
                            </th>
                            <td style="text-align: center;">
                                {{skill.points.initial_points + skill.points.job_points + skill.points.interest_points + skill.points.growth_points + skill.points.others_points}}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    
                        {% for skill in skills.search_skills %}
                        {% if skill.points.job_points != 0 or skill.points.interest_points != 0 or skill.points.growth_points != 0 or skill.points.others_points != 0 %}
                        <tr>
                            <th scope="row">
                                {{skill.name}}
                            </th>
                            <td style="text-align: center;">
                                {{skill.points.initial_points + skill.points.job_points + skill.points.interest_points + skill.points.growth_points + skill.points.others_points}}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    
                        {% for skill in skills.action_skills %}
                        {% if skill.points.job_points != 0 or skill.points.interest_points != 0 or skill.points.growth_points != 0 or skill.points.others_points != 0 %}
                        <tr>
                            <th scope="row">
                                {{skill.name}}
                            </th>
                            <td style="text-align: center;">
                                {{skill.points.initial_points + skill.points.job_points + skill.points.interest_points + skill.points.growth_points + skill.points.others_points}}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    
                        {% for skill in skills.interpersonal_skills %}
                        {% if skill.points.job_points != 0 or skill.points.interest_points != 0 or skill.points.growth_points != 0 or skill.points.others_points != 0 %}
                        <tr>
                            <th scope="row">
                                {{skill.name}}
                            </th>
                            <td style="text-align: center;">
                                {{skill.points.initial_points + skill.points.job_points + skill.points.interest_points + skill.points.growth_points + skill.points.others_points}}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    
                        {% for skill in skills.knowledge_skills %}
                        {% if skill.points.job_points != 0 or skill.points.interest_points != 0 or skill.points.growth_points != 0 or skill.points.others_points != 0 %}
                        <tr>
                            <th scope="row">
                                {{skill.name}}
                            </th>
                            <td style="text-align: center;">
                                {{skill.points.initial_points + skill.points.job_points + skill.points.interest_points + skill.points.growth_points + skill.points.others_points}}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                    <div style="top: 0px; margin-left: 50px;">
                        <table>
                            <tr>
                                <th scope="col">通過シナリオ</th>
                            </tr>
                            {% for session in sessions %}
                            <tr>
                                
                                <td>
                                    <a href="{{ url_for('edit_session', id = session.id) }}" style="color: #0000EE; text-decoration: none;">{{session.senario_name}}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex; position: fixed; bottom: 5%; right: 15%">
            <form action="{{ url_for('investigator_edit', id = investigator.id) }}" method="GET">
                <input type="submit" value="編集" style="font-size: 30px;">
            </form>
            <form action="{{ url_for('delete_investigator', id = investigator.id) }}" method="POST" style="margin-left: 3px;">
                <input class="btn btn-danger btn-sm" type="submit" value="削除" style="font-size: 30px;">
            </form>
            <button onclick="save_investigator( '{{investigator.id}}' )" style="margin-left: 3px; height: 50px; font-size: 20px;">json保存</button>
            {% if investigator.iachara_link %}
                <button onclick="window.open('{{investigator.iachara_link}}')" style="margin-left: 3px; height: 50px; font-size: 20px;">いあきゃらを開く</button>
            {% endif %}
            {% if investigator.imgs_link %}
                <button onclick="window.open('{{investigator.imgs_link}}')" style="margin-left: 3px; height: 50px; font-size: 20px;">差分フォルダを開く</button>
            {% endif %}
            <button onclick="copy_investigator( '{{investigator.id}}' )" style="margin-left: 3px; height: 50px; font-size: 20px;">ココフォリア駒出力</button>
        </div>
        <br>
        <a href="#" onclick="history.back(-2)" return false;>戻る</a>
    </body>
</html>

<script src="{{ url_for('static', filename='javascript/view_investigator.js') }}"></script>